h1 {text-align: center;
    padding-top:20px}
#r   {color: red}
#o   {color:orange}
#y   {color: #CCCC00}
#g   {color:green}
#b   {color:blue}
#v   {color: purple}

#canvas {padding: 0;
    margin: auto;
    display: block;}

p {text-align: center;
    padding:0;
    margin: 0
    }
#box {
    width: 900px;
    height: 650px;
    background-color: blue;
    border-radius: 50px;
    overflow: hidden;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC); /* this fixes the overflow:hidden in Chrome/Opera */
}